a#linkMinggl{
   height: 133px;
}

a:hover#linkMinggl{
   background-position: 0 -123px; 
}

.myProfilesHolder ul{
   margin: 10px 0 31px 20px;
}


.comments span{
   margin: 0 10px 0 5px;
}

.comments{
   text-indent: -3px;
}

a.buttonRss{
   margin: 15px 7px 0 0;
}