/* ---------------------------------------
global
--------------------------------------- */

a:link,
a:visited,
a:hover{
   color: #ff0000;
}

a:link, a:visited{
  text-decoration: none;
}

a:hover{
   text-decoration: underline;
}

body{

}

h2{
   font-weight: bold;
   font-size: 34px;
   color: #8c8c8c;
   line-height: 34px;
   margin: 0 0 10px 0;
   letter-spacing: -1px;
}

h3{
   font-weight: bold;
   font-size: 34px;
   color: #000;
   line-height: 34px;
   margin: 0 0 10px 0;
   letter-spacing: -1px;
}

h4{
   font-weight: bold;
   font-size: 26px;
   color: #5f5f5f;
   line-height: 24px;
   margin: 24px 0 12px 0;
   letter-spacing: -1px;
}

h5{
   font-size: 14px;
   color: #5f5f5f;
}


/* ---------------------------------------
position
--------------------------------------- */

#container{
   width: 960px;
   text-align: center;
   margin: 0 auto;
   overflow: hidden;
}

#header{
   text-align: left;
   margin: 0 0 30px 0;
}

#baloonText{
   float: left;
   width: 629px;
   height: 318px;
   background: url(../images/bg_baloon.gif) 0 0 no-repeat;
   text-indent: -9999px;
}

#blog #baloonText{
   float: left;
   width: 707px;
   height: 170px;
   background: url(../images/bg_baloon_blog.gif) 0 0 no-repeat;
   text-indent: -9999px;
}

/* ---------------------------------------
logo
--------------------------------------- */

#logo{
   float: left;
   text-indent: -9999px;
   margin: 0px 0 0 0;
   width: 331px;
   height: 318px;
   background: url(../images/logo.gif) 0 0 no-repeat;
}

#logo a{
   display: block;
   width: 331px;
   height: 318px;
}


/* ---------------------------------------
top navigation
--------------------------------------- */

#topNavHolder{
   width: 100%;
   height: 58px;
   background-color: #000;
   clear: both; 
}

.topNav li{
   float: left;
   margin: 0 0px 0 5px;
   padding: 0 0px 0 0;
}

.topNav li a, .topNav li a:link, .topNav li a:visited{
   margin: 5px 0 0 0;
   float: left;
   color: #fff;
   font-size: 34px;
   display: block;
   padding: 12px 15px 13px 20px;
   font-weight: bold;
   letter-spacing: -1px;
}

.topNav li a:hover{
   text-decoration: none; 
   color: #ff0000; 
}


.topNav li.activeNav a{
   background: url(../images/bg_a.gif) 0 0 no-repeat;   
   color: #fff;
}

.topNav li.activeNav{
   background: url(../images/bg_a_li.gif) top right no-repeat;   
   color: #fff;
   padding-right: 10px;
   margin-right: 10px;
}

a.buttonRss{
   width: 28px;
   height: 28px;
   display: block;
   float: right;
   margin: 15px 15px 0 0;
   background: url(../images/button_rss.gif) 0 0 no-repeat;      
   text-indent: -9999px;
}

a:hover.buttonRss{
   background-position: bottom left; 
}


/* ---------------------------------------
main text content
--------------------------------------- */

.mainTextContent{
   text-align: left;
   width: 554px;
   overflow: hidden;
   margin: 0 0 0px 0;
   float: right;
}

.articleDate{
   font-size: 16px;
   font-weight: bold;
   letter-spacing: -1px;
   color: #5d5d5d;
   margin: 0 0 0 0;
   width: 514px;
   padding: 15px 20px 0 20px;
   background: #e1e1e1 url(../images/bg_date.gif) 0 0 no-repeat;    
}

.mainTextContent h3{
   background: #e1e1e1 url(../images/bg_h3.gif) bottom left no-repeat;  
   width: 514px;
   padding: 0px 20px 23px 20px;   
   margin: 0 0 30px 0;
}

.mainTextContent h3 a, .mainTextContent h3 a:visited{
   color: #000;
}

.mainTextContent h3 a:hover{
   color: #ff0000;   
   text-decoration: none;
}


#titleLatestFromBlog{
   background: url(../images/title_latest_from_blog.gif) 0 0 no-repeat;
   width: 514px;
   height: 36px;
   text-indent: -9999px;
   position: relative;
   margin: 0px 0 -10px 0;
}

#titleMyProfiles{
   background: url(../images/title_my_profiles.gif) 0 0 no-repeat;
   width: 514px;
   height: 36px;
   text-indent: -9999px;
   position: relative;
   margin: 0px 0 -10px 0;
}


/* ---------------------------------------
sidebar
--------------------------------------- */

.sidebar{
   width: 376px;
   float: left;
   text-align: left;   
   margin: 0 0px 30px 0;
   overflow: hidden;
}

.myProfilesHolder{
   width: 376px;   
   background: #e1e1e1 url(../images/bg_my_profiles_holder.gif) 0 0 no-repeat;
   padding: 10px 0 0 0;
   float: left;
}

.myProfilesHolder ul{
   margin: 10px 0 21px 20px;
}

.myProfilesHolder ul li{
   background: url(../images/bg_li.gif) bottom left no-repeat;  
   padding: 1px 0 0 0;
}

.myProfilesHolder ul li a, .myProfilesHolder ul li a:visited{
   font-size: 20px;
   color: #000;
   margin: 0px 0 0 0px;
   clear: both;
   display: block;
   padding: 5px 0 7px 0;
   text-indent: 40px;
}

.myProfilesHolder ul li a:hover{
   background-position: 0px -30px;
   color: #ff0000;   
   text-decoration: none;
}

.profileBlog a{
   background: url(../images/profile_blog.gif) 0px 2px no-repeat;
}

.profileFlickr a{
   background: url(../images/profile_flickr.gif) 0px 2px no-repeat;
}

.profileDelicious a{
   background: url(../images/profile_delicious.gif) 0px 2px no-repeat;
}

.profileTwitter a{
   background: url(../images/profile_twitter.gif) 0px 2px no-repeat;
}

.profilelastFm a{
   background: url(../images/profile_last_fm.gif) 0px 2px no-repeat;
}

.profileMySpace a{
   background: url(../images/profile_myspace.gif) 0px 2px no-repeat;
}

.profileFacebook a{
   background: url(../images/profile_facebook.gif) 0px 2px no-repeat;
}

.profileIn a{
   background: url(../images/profile_in.gif) 0px 2px no-repeat;
}

.profileGithub a{
   background: url(../images/profile_github.gif) 0px 2px no-repeat;
}

/* ---------------------------------------
minggl link
--------------------------------------- */

a#linkMinggl{
   width: 376px;
   height: 123px;
   display: block;
   text-indent: -9999px;
   overflow: hidden;
   background: url(../images/link_minggl.gif) 0px 0px no-repeat;   
}

a:hover#linkMinggl{
   background-position: bottom left; 
}


/* ---------------------------------------
footer
--------------------------------------- */

#footer{
   float: none;
   clear: both;
   text-align: left;
   color: #3e3e3e;
   width: 100%;
   margin: 0 0 30px 0;
   font-size: 12px;
   color: #747474;
   border-top: 3px solid #e1e1e1;
   padding: 3px 0 0 0;
}

#footer p{
   float: left;
   clear: both;
}

#footer ul li{
   float: left;
}

#footer a:link, #footer a:visited{
   color: #333;
}

.designedBy{
   line-height: 38px;
}

.designedBy span{
   float: left;
   margin: 0 7px 0 0;
}

.designedBy a{
   padding: 0 42px 0 0px;
   height: 38px;
   display: block;
   float: left;
   background: url(../images/bg_emil_milanov.gif) -9999px -9999px no-repeat;  
}

.designedBy a:hover{
   background: url(../images/bg_emil_milanov.gif) top right no-repeat;   
}






/* ---------------------------------------
blog page -logo
--------------------------------------- */

#blog #logo{
   float: left;
   text-indent: -9999px;
   margin: 0px 0 0 0;
   width: 253px;
   height: 170px;
   background: url(../images/logo_blog.gif) 0 0 no-repeat;
}

#blog #logo a{
   display: block;
   width: 253px;
   height: 170px;
}

/* ---------------------------------------
blog page - sidebar
--------------------------------------- */

#blog .sidebar{
   width: 300px;
   overflow: visible;
}

#blog .myProfilesHolder{
   width: 300px;   
}

#blog .myProfilesHolder ul li{
   width: 260px;
}

#blog a#linkMinggl{
   width: 300px;
   background: url(../images/link_minggl_blog.gif) 0px 0px no-repeat;   
}

#blog a:hover#linkMinggl{
   background-position: bottom left; 
}

#blog #titleMyProfiles{
   background: url(../images/title_my_profiles.gif) 0 0 no-repeat;
   width: 300px;
   height: 36px;
   text-indent: -9999px;
   position: relative;
   margin: 0px 0 -10px 0;
}

/* ---------------------------------------
blog page - blog content
--------------------------------------- */

.blogContent{
   width: 630px;
   float: right;
   overflow: hidden;
   text-align: left;
}

.blogContent p{
   margin: 0 0 24px 0;
   color: #333333;
}

.blogContent img{
   margin: 0 0 24px 0;
}

#blog .articleDate{
   font-size: 16px;
   font-weight: bold;
   letter-spacing: -1px;
   color: #5d5d5d;
   margin: 0 0 0 0;
   width: auto;
   float: left;
   padding: 0px 10px 0 0px;
   background: #fff url(../images/bg_date_blog.gif) top right no-repeat;    
}

#blog #titleLatestFromBlog{
   background: url(../images/title_latest_from_blog_blog.gif) 0 0 no-repeat;
   width: 630px;
   height: 36px;
   text-indent: -9999px;
   position: relative;
   margin: 0px 0 20px 0;
}

img.left{
   float: left;
   margin: 0 24px 24px 0;
   position: relative;
   top: 6px;
}

img.right{
   float: right;
   margin: 0 0px 24px 24px;
   position: relative;
   top: 6px;
}

.blogContent ul{
    margin: 0 0 24px 0;
}

.blogContent ul li{
   background: url(../images/bg_li_blog.gif) 0 7px no-repeat;
   padding: 0 0 0 20px;
}

.articleHolder{
   margin: 0 0 96px 0;
   float: left;
   border-top: 3px solid #e1e1e1;
   width: 100%;
   padding: 10px 0 0 0;
   clear: both;
}

.firstArticle{
   border: none;
   padding: 0 0 0 0;
}

a.readMoreLink{
   font-weight: bold;
   background: url(../images/bg_read_more.gif) top right no-repeat;   
   padding: 0 18px 0 0;
   
}

/* ---------------------------------------
blog page - article title
--------------------------------------- */
.blogContent .articleTitle{
   clear: both;
}

.blogContent h3 a, .blogContent h3 a:visited{
   color: #000;
   clear: both;
}

.blogContent h3 a:hover{
   color: #ff0000;   
   text-decoration: none;
}


/* ---------------------------------------
blog page - comments link
--------------------------------------- */
.comments{
   float: left;
   width: 70%;
}

.comments{
   float: left;
   display: block;
   width: 24px;
   color: #fff;
   font-weight: bold;
   font-size: 11px;
   margin: 0 10px 0 10px;
   text-align: center;
   text-indent: -8px;
}

a.comments, a:visited.comments{
   color: #fff;
   background: url(../images/bg_comments.gif) 0px 0 no-repeat; 
}

a:hover.comments{
   color: #fff;
   text-decoration: none;
   background-position: 0px -20px;
}

/* ---------------------------------------
blog page - source code adjustments
--------------------------------------- */

#blog .blogContent .UltraViolet{
   margin: 0 0 24px 0;
   width: 630px;
   float: left;
   overflow: auto;
}


/* ---------------------------------------
blog page - pagination
--------------------------------------- */

.paginationHolder{
   clear: both;
   width: 630px;
   height: 47px;
   background: url(../images/bg_pagination.gif) 0 0 no-repeat; 
   margin: 0 0 30px 0;
   line-height: 47px;   
}

#blog .paginationUl li{
   padding: 0 0 0 0;
   background: none;
   display: inline;
}   
   
.olderPosts a{
   width: 139px;
   height: 47px;
   display: block;
   background: url(../images/button_older_posts.gif) 0 0 no-repeat;
   text-indent: -9999px;
   float: left;
}

.olderPosts a:hover, .newerPosts a:hover{
   background-position: bottom left;
}

.newerPosts a{
   width: 139px;
   height: 47px;
   display: block;
   background: url(../images/button_newer_posts.gif) 0 0 no-repeat;
   text-indent: -9999px;
   float: right;
}


/* ---------------------------------------
individual article page
--------------------------------------- */

.singleArticleHolder{
   margin: 0 0 30px 0;
   float: left;
   border-top: none;
   width: 100%;
   padding: 0px 0 0 0;
   clear: both;
}